beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
docx-mailmerge==0.4.0
google-api-python-client==2.120.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
idna==3.6
lxml==5.1.0
PyPDF2==3.0.1
PyQt6==6.6.1
requests==2.31.0
soupsieve==2.5
urllib3==2.2.1
youtube-transcript-api==0.6.2